<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="HoraBovespaFuturos" value="10:00" />
    <add key="chkBip1m" value="false" />
    <add key="HoraBovespa" value="10:00" />
    <add key="HoraSP500" value="10:30" />
    <add key="FormWidth" value="800" />
    <add key="FormHeight" value="200" />
    <add key="LocationX" value="200" />
    <add key="LocationY" value="200" />
    <add key="txtLinkSP500" value="" />
    <add key="txtLinkDX" value="" />
    <add key="txtLinkWTI" value="" />
    <add key="txtFullPathCotacaoSP500" value="" />
    <add key="txtFullPathCotacaoDX" value="" />
    <add key="txtFullPathCotacaoWTI" value="" />
    <add key="txtFullPathVariacaoSP500" value="" />
    <add key="txtFullPathVariacaoWTI" value="" />
    <add key="txtFullPathVariacaoDX" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>