<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="HoraBovespaFuturos" value="10:00"/>
    <add key="HoraBovespa" value="10:00"/>
    <add key="HoraSP500" value="10:30"/>
    
    <add key="FormWidth" value="800"/>
    <add key="FormHeight" value="200"/>

    <add key="LocationX" value="200"/>
    <add key="LocationY" value="200"/>

    <add key="txtLinkSP500" value=""/>
    <add key="txtLinkDX" value=""/>
    <add key="txtLinkWTI" value=""/>

    <add key="txtFullPathCotacaoSP500" value=""/>
    <add key="txtFullPathCotacaoDX" value=""/>
    <add key="txtFullPathCotacaoWTI" value=""/>

    <add key="txtFullPathVariacaoSP500" value=""/>
    <add key="txtFullPathVariacaoWTI" value=""/>
    <add key="txtFullPathVariacaoDX" value=""/>

  </appSettings>

  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
